ldap:
    uri: ldaps://ldap.scz-vm.net
    basedn: dc=https://mail,dc=services,dc=vnet
    binddn: cn=admin,dc=services,dc=vnet
    passwd: changethispassword
cua:
    add: sara_adduser
    modify: sara_modify_users
    groups:
    groups:
        - ai_dev: "sys:{org}-{co}-ai-dev"
        - ai_res: "prj:ai_res"
        - foo: "ign:foo"
status_filename: "/path/to/status.json"
