[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-ldap = ">=3.4"
jsonschema = "*"
pyyaml = "*"
click-logging = "*"
sramsync = {file = ".", editable = true}
typing-extensions = "*"

[dev-packages]
black = "*"
yq = "*"
pylint = "*"
rope = "*"
deepdiff = "*"
pytest = ">=7.2.1"
pyright = "*"
isort = "*"
coverage = "*"
exceptiongroup = "*"
behave = "*"
ipdb = "*"
aiosmtpd = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "bash -c \"PYTHONPATH=$PWD/.:$PWD/test/unit:$PYTHONPATH pytest\""
