[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-ldap = ">=3.4"
jsonschema = "*"
pyyaml = "*"
click-logging = "*"
sramsync = {editable = true, path = "."}

[dev-packages]
black = "*"
yq = "*"
pylint = "*"
rope = "*"
behave = "*"
deepdiff = "*"
pytest = "*"
pyright = "*"
isort = "*"
coverage = "*"
exceptiongroup = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "bash -c \"PYTHONPATH=$PWD/.:$PWD/test/unit:$PYTHONPATH pytest\""
